<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :years %>
    <%= form.number_field :years %>
  </div>

  <div class="field">
    <%= form.label :remarks %>
    <%= form.text_field :remarks %>
  </div>

  
  <%= form.fields_for :stations do |stations| %>
    <%= stations.label :routeName %>
    <%= stations.text_field :routeName %>
    <%= stations.label :stationName %>
    <%= stations.text_field :stationName %>
    <%= stations.label :minutes %>
    <%= statioons.text_field :minutes %>
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
